body{
    color: #ffffff ;
    background-color: #000000;
    background-image: url(img/bg_main.jpg);
    font-family: 'Oswald', sans-serif;
}

a{
    color: #ffffff;
    text-decoration: none;
}

ul{
    list-style: none;
}

/*boton nav*/

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2 ;
    font-size: 1.5rem;
    display: none;
}

.container{
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

/*navigation*/

.nav-main{

    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0px;
    
    
}

.nav-brand{
    width: 50px ;
    background: transparent;
}

/* nav lef etiquetas de navegacion*/

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 10px;

}

.nav-main ul li a{
    padding: 6px;
}

.nav-main ul li a:hover{
    border-bottom: 2px solid #ffffff ;
}

.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px ;
}

hr{
    margin: 10px 0px;
}

/*barner principal*/

.barner{
    margin-top: 4px;
    width: 100%;
    height: 550px;
    background: url(img/princip.jpg) no-repeat center center/cover;
    padding: 10px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: center;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;

}

.barner p{
    width: 200px;
    text-align: justify;
    margin-top: 8px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 8px 8px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #ffffff;

}

.btn:hover{
    opacity: 0.7;
    border-radius: 20px;
    transition: border-radius 0.4s;
}

/*-----------------------tarjetas recomendados--------*/

.portales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px; /* espaciado entre columnas*/
    margin-bottom: 30px;

}

.portales div{
    border: white 1px solid;
    padding: 8px;
    border-radius: 4px;
}

.portales img{
    width: 100%;
    height: 150px;
}

.portales p{
    text-align: justify;
}

.portales h3{
    font-size: 20px;
    margin: 10px 0px;
}

.portales a{
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    padding: 4px 4px;
    background: #262626;
    color: #f2f2f2;
    font-size: 15px;
    border: 1px solid #ffffff;
    margin: 5px 0px;
    text-transform: uppercase; /*mayuscula*/
}

.portales a:hover{
    opacity: 0.4;
    transition: border-radius 0.4s;
}

/*-----------------------barner2---------------------*/

.barner2{
    margin-top: 4px;
    width: 100%;
    height: 400px;
    background: url(img/tesoros.jpg) no-repeat center center/cover;
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: center;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;

}

.barner2 p{
    width: 300px;
    text-align: justify;
}

.barner2 h2{
    font-size: 20px;
    margin: 10px 0px;
    width: 300px;
}

/*-----------------------barner3---------------------*/

.barner3{
    margin-top: 4px;
    width: 100%;
    height: 400px;
    background: url(img/playas.png) no-repeat center center/cover;
    padding: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-self: center;
    border-radius: 5px;
    color: #ffffff;
    margin-bottom: 10px;

}

.barner3 p{
    width: 300px;
    text-align: justify;
}

.barner3 h2{
    font-size: 20px;
    margin: 4px 0px;
    width: 300px;
}


/* social */

.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;
    font-size: 3rem;
}

.links a:hover{
    opacity: 0.5;
}

footer{
    width: 100%;
    height: 100px;
    background-color: #222;
    padding:  3rem;
    color: white;
}

footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer section a{
    color: white;
    text-decoration: none;
    padding: 0px 8px;
}


@media (max-width: 800px){
    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f3640;
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translate(-400px) ; /*moverlo por afuera del margen*/     
        transition: transform 0.5s ease-in-out;

    }

    .nav-main ul.nav-menu.show{
        transform: translate(-20px) ; /*moverlo por afuera del margen*/
   
    }


    .portales{
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-menu-right{
        margin-right: 40px ;
    }

    .menu-btn{
        display: block;
    }


}

@media (max-width: 500px){
    .portales {
        grid-template-columns: 1fr;
    }

    .portales img{
        height: 270px;
    }

    .container{
        width: 100%;
        padding-left:10px ;
        padding-right: 10px;
    }

}